/*Estilos de home*/

.padre {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centra horizontalmente el contenido */
    padding: 10 0px; /*  ElMargen interior  de la izquierda y derecha */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    }
.title {
    text-align: center;
}
.banner {
    width: 100%;
    max-height: 120px;
}
.animacion-titulo {
    animation-name: desvanecer-color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes desvanecer-color {
    0% {
        color: black;
    }
    50% {
        color: rgb(6, 166, 6);
    }
    100% {
        color: black;
    }
}
.section {
    background: #afaaaa;
    display: flex;
}

.articulos {
    background: #afaaaa;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}
.article {
    flex: 1 1 40%;
    color: rgb(235, 222, 222);
    font: size 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #e4ddbbcc;
}.article img {
    width: 100%;
}

.article a {
    color: #fff;
    font: size 10px;
    padding: 10px;
    background: #000;
    margin: 10 0;
    display: inline-block;
}
.article a:hover {
    background: rgb(71, 195, 195);

}h3 {
    color: beige;
    font-size: 13;
    padding: 10px 0;
    margin-top: -80px;
}
h2 {
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: beige;
}
p {
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.aside {
    border-top: #afaaaa;
    background: #afaaaa;
    letter-spacing: 1px;
    margin: 10px 0px 0 0px;
    flex: 1 1 50%;
}

.aside img {
    width: 100%;
    object-fit: cover;

}



.publicidad {
    background: #d43434;
}



h5 {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 0 10px 0;
    color: beige;
}

h6 {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 0;
    color: aquamarine;
}

.publicidad {
    margin: auto;
    background: #d43434;
}


@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }
}
/*pantallas grandes */
@media (min-width: 768px) {
    /* logo en el encabezado */
    .logo {
        width: 200px;
    }
    
    /* menú de navegación */
    .nav {
        margin-left: 50px;
    }

    /* imágenes de los artículos */
    .article img {
        width: 100%;
        height: auto;
    }

    /*texto en los artículos */
    .article h3 {
        font-size: 18px;
    }
}

/* pantallas medianas */
@media (max-width: 767px) {
    /* espaciado en el encabezado */
    .menu {
        padding: 10px;
    }

    /*  logo en el encabezado */
    .logo {
        width: 150px;
    }

    /* menú de navegación */
    .nav {
        display: none;
    }

    /*  menú de navegación cuando se hace clic en el ícono */
    .fa-bars {
        display: inline-block;
    }

    .fa-bars,
    .fa-times {
        cursor: pointer;
    }

    /* clic en el ícono */
    .fa-bars {
        display: none;
    }

    .nav.active {
        display: block;
        margin-bottom: 10px;
    }

    /* imágenes de los artículos */
    .article img {
        width: 100%;
        height: auto;
    }

    /*  texto en los artículos */
    .article h3 {
        font-size: 16px;
    }

    /* publicidades en la barra lateral */
    .aside img {
        width: 100%;
        height: auto;
    }
}
/*termina estilos de HOME*/

/*A PARTIR DE AQUI COMIENZA ESTILOS DE LA PAGINA "NOSOTROS"*/
.nosotros {
   max-width: 1200px; /* Ancho máximo del contenido */
   margin: 0 auto; /* Centrar horizontalmente el contenido */
   padding: 10 0px;
   font-family:'Open Sans', sans-serif;
}
.contenidos h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}
.linea {
    border-top: 5px solid #4d555a;
    margin-bottom: 40px;
}
.caja{
    display: flex;
    background:hsl(13, 5%, 68%);
}

.caja > div img,
.caja2 img,
.caja3 > div img {
  max-width: 100%;
  height: auto;
}
.caja> div {
    width: 50%;
    padding: 10px;
}
.caja2{
    padding: 10px;
}
h4{
    text-align: center;
}
.caja3{
    display: flex;
}
.caja3 >div{
    width: 50%;
    padding: 10px;
}
.caja3{
    display: flex;
    background:hsl(13, 5%, 68%);
}



/*aqui termina estilos de la pagina nosotros*/

/*A partir de aqui comienza estilos de la pagina proyectos*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria {
    font-family:'Open Sans', sans-serif ;
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #4d555a;
    margin-bottom: 40px;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(237, 240, 241, 0.781);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2 {
    color: #675a5a;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}

/*responsive de proyectos*/
@media screen and (max-width:1000px) {
    .contenedor-imagenes {
        width: 95%;
    }
}
@media screen and (max-width:700px) {
    .contenedor-imagenes {
        width: 90%;
    }
    .contenedor-imagenes .imagen {
        width: 48%;
    }
}
@media screen and (max-width:450px) {
    h1 {
        font-size: 22px;
    }
    .contenedor-imagenes {
        width: 98%;
    }
    .contenedor-imagenes .imagen {
        width: 80%;
    }
}

/*Aqui termina estilos de la pagina proyectos*/

/*comienza estilo de publicaciones*/

.publicaciones {
    font-family: 'Open Sans', sans-serif;
}

.publicaciones h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #4d555a;
    margin-bottom: 40px;
}
.card1 {
    
    max-width: 40%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
    }
    
.card2{
    max-width: 40%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
    }
 .card3{
    max-width: 40%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
 }

 .card4{
    max-width: 40%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto; 
 }
 .video{
    text-align:center;
  }  

.documentos{
    display: flex;
    justify-content: center;
    
}
iframe{ 
    margin: 10px;
}
footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
}
.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    background-color:gray;
}
.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo img {
    width: 180px;
}
.box__footer .tema {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:black;
    font-size: 18px;
}
.box__footer h2 {
    margin-bottom: 30px;
    color: black;
    font-weight: 700;
}
.box__footer a {
    margin-top: 10px;
    color:black;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}
.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

@media all and (max-width: 800px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }
}

@media all and (max-width: 600px) {
    .articulos {
        flex-direction: column;
    }
}

@media all and (max-width: 400px) {
    .aside {
        flex-direction: column;
    }
}

/*comienza estilos de contacto*/

* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
.padre {
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno {
    padding: 10 50px;
    margin: 50px;
}
.header {

    background: url(../css/images/BBVA-innovacion-construcción-sostenible-apertura.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
}
.menu {
    display: flex;
    background: gray;
    flex-flow: row nowrap;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid rgba 255, 255, 255, .5;
    text-align: center;
}
.logo {
    flex: 1 1 auto;
    font-size: 40px;
}
.logo p a {
    color: rgb(20, 21, 20);
    font-size: 30px;
    float: none;
}
.logo a:hover {
    color: black;
}
.nav {
    flex: 5 1 auto;
}
.nav a {
    color: rgb(236, 226, 226);
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
    float: left;
}
.nav ul li {
    display: inline;
}
.nav a:hover {
    color: black;
}
.social {
    flex: 1 1 auto;
    display: flex;
}
.social a {
    font-size: 18px;
    color: rgb(236, 226, 226);
    padding: 0 5px;
}
.social a:hover {
    color: black;
}
.texto-principal {
    height: 580px;
    display: flex;
    align-items: center;
}
.contacto {
    font-family: 'Open Sans', sans-serif;
}

.articles {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo h1 {
    color: black;
}
 
.linea {
    border-top: 5px solid #4d555a;
    margin-bottom: 40px;
}

.input_group {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(9, 0, 0);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

label {
    color: #060000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #c6e2ef;
    border: 2px solid #c6e2ef;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #634848;
}

.for-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #090000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.submit {
    font-size: 18px;
    color: #090707;
    border: 0;
    border-radius: 28px;
    background-color: cadetblue;
    box-shadow: #4d555a;
}


.ubicacion {
    justify-content: center;
    text-align: center;
}
footer {
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
}
.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .tema {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #f2e6e6;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #f0e9e9;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #f6eeee;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/*  responsive */
@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 20px;
    }
    .nav {
        text-align: center;
    }
    .social {
        margin-top: 20px;
    }

    /* formulario */
    .input_group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    @media screen and (max-width: 768px) {
        .container {
            padding: 0;
        }
        .title {
            text-align: center;
        }
        label {
            display: block;
            margin-top: 10px;
        }
        input[type="text"],
        input[type="email"],
        input[type="number"] {
            width: 100%;
        }
    }
    /* Estilos para el footer */
    .container__footer {
        flex-direction: column;
        align-items: center;
    }

    .box__footer {
        margin-bottom: 20px;
        text-align: center;
    }
}

